
.icon-pause:before { content: '\e800'; } /* '' */
.icon-pencil:before { content: '\e801'; } /* '' */
.icon-heart:before { content: '\e802'; } /* '' */
.icon-ok:before { content: '\e803'; } /* '' */
.icon-truck:before { content: '\e804'; } /* '' */
.icon-flight:before { content: '\e805'; } /* '' */
.icon-flash:before { content: '\e806'; } /* '' */
.icon-wrench:before { content: '\e807'; } /* '' */
.icon-zoom-in:before { content: '\e808'; } /* '' */
.icon-plus:before { content: '\e809'; } /* '' */
.icon-minus:before { content: '\e80a'; } /* '' */
.icon-phone:before { content: '\e80b'; } /* '' */
.icon-basket:before { content: '\e80c'; } /* '' */
.icon-mail:before { content: '\e80d'; } /* '' */
.icon-clock:before { content: '\e80e'; } /* '' */
.icon-money:before { content: '\f0d6'; } /* '' */
.icon-chat-empty:before { content: '\f0e6'; } /* '' */
.icon-lightbulb:before { content: '\f0eb'; } /* '' */
.icon-smile:before { content: '\f118'; } /* '' */
.icon-attention-alt:before { content: '\f12a'; } /* '' */
.icon-play:before { content: '\f144'; } /* '' */
.icon-cube:before { content: '\f1b2'; } /* '' */
.icon-calc:before { content: '\f1ec'; } /* '' */
.icon-cc-visa:before { content: '\f1f0'; } /* '' */
.icon-diamond:before { content: '\f219'; } /* '' */