/*////SASS//////////////////////////////////////////////*/

//Maintain aspect ratio
@mixin maintain-ratio($ratio: 1 1) {
	@if length($ratio) < 2 or length($ratio)>2 {
		@warn "$ratio must be a list with two values.";
	}
	$width: 100%;
	$height: percentage(nth($ratio, 2) / nth($ratio, 1));
	width: $width;
	height: 0;
	padding-bottom: $height;
}

//COLORS
$white:#fff;
@mixin white {
	color: $white;
}

$green:#5cb85c;
@mixin green {
	color: $green;
}

$lightgrey:#FAF8F8;
@mixin grey {
	color: $grey;
}

$grey:#f5f5f5;
@mixin grey {
	color: $grey;
}

$fbBlue:#3b5998;
@mixin fbBlue {
	color: $fbBlue;
}

$black:#333;
@mixin black {
	color: $black;
}
$fluro:#ccff15;
@mixin fluro {
	color : $fluro;
}


$orange:#FF6600;
@mixin orange {
	color: $orange;
}

/*LIGHTEN / DARKER COLOR EXAMPLE*/

$greydarker: darken($grey, 0%);
@mixin greydarker {
  color:$greydarker;
}


/*////ENDSASS//////////////////////////////////////*/


/*////FONTS//////////////////////////////////////*/

//LOGO


//HEADINGS
@font-face {
	font-family: heading1;
	src: url(../fonts/You_Are_Loved.eot);
	src: url(../fonts/You_Are_Loved.eot?#iefix) format('embedded-opentype'), url(../fonts/You_Are_Loved.woff) format('woff'), url(../fonts/You_Are_Loved.ttf) format('truetype'), url(../fonts/You_Are_Loved.svg#svgFontName) format('svg')
}

@font-face {
	font-family: heading2;
	src: url(../fonts/Montserrat-Regular/Montserrat-Regular.eot);
	src: url(../fonts/Montserrat-Regular/Montserrat-Regular.eot?#iefix) format('embedded-opentype'), url(../fonts/Montserrat-Regular/Montserrat-Regular.woff) format('woff'), url(../fonts/Montserrat-Regular/Montserrat-Regular.ttf) format('truetype'), url(../fonts/Montserrat-Regular/Montserrat-Regular.svg#svgFontName) format('svg')
}

//TEXT
@font-face {
	font-family: mainText;
	src: url(../fonts/Domine/Domine.eot);
	src: url(../fonts/Domine/Domine.eot?#iefix) format('embedded-opentype'), url(../fonts/Domine/Domine.woff) format('woff'), url(../fonts/Domine/Domine.ttf) format('truetype'), url(../fonts/Domine/Domine.svg#svgFontName) format('svg')
}

//FONTS

/*@mixin font {
		font-family: 'opensans', sans-serif;
	}*/

@mixin font-weight($weight) {
	$weights: ( thin: 100, light: 300, normal: 400, medium: 500, semi-bold: 600, bold: 700, );
	$output: $weight;
	@if map-has-key($weights, $weight) {
		$output: map-get($weights, $weight);
	}
	font-weight: $output;
}


/*.class_example {
  @include font-weight(thin);
}*/


//HEADER
.topbar {
	//border-bottom: 3px solid white;
	z-index: 100;
	padding:10px 0;
}
.topbar--right{
    display: flex;
	flex-direction: row-reverse;
	align-items: baseline;
	//background-color: #1b1f20;
	max-width: 500px;
	margin: auto;
}
.topbar .topbar_contacts{
	padding:5px 0;
	vertical-align: baseline;
	display: flex;
	width: 100%;
	justify-content: space-between;
	
}
.topbar_contacts--item{
	font-size: .9em;
    margin: 0;
    padding: 0;
}
.topbar_contacts--item span{
	font-size: 1em;
}

//unset theme styling
.topbar_contacts--item span i{
    display: unset;
    font-weight: unset;
    position: unset;
    top: unset;
    left: unset;
	padding-right: 7px;
	color: $fluro;
	font-size: 1em;
}
.topbar_contacts--item .contact_phone {
	display: flex;
    align-items: center;
}
//facebook
/*.topbar .follow_us {
    margin: 0;
}
	
.follow_us ul li {
    margin: 0 0 0 32px;
	color:$fbBlue
}
.follow_us ul li i, .follow_us ul li a, .follow_us .fa-facebook-f:before {
   height: 18.5px;
}

.follow_us a, .follow_us a:visited  {
	color:$fbBlue;
	font-size: 1.2em;
}
*/

.topbar {
    padding: 5px 0;
}
#pmd-header{
	    border-top: 1px solid darkgrey;
}
		
#pmd-header > .container{
	max-width:500px;
	padding: 0;
	
	
}

.header--menu_opener {
	left: unset;
	top:unset;
	margin: 0!important;
	position: relative;
	}

.header--inner {
	position: relative;
	overflow: hidden;
}

.header--inner > .row{
	display: flex;
    align-items: center;//was middle
	max-width: 100%;
}

.header--right {
    position: relative;
    top: unset;
    transform: unset;
    right: unset;
	padding:0;
	width: 100%;

}

.header--right nav{
	float: right
}

.header--logo {

    position: absolute;
	right: 0;
	top: -10px;
}

.header--logo a {
	font-size: 2.4em;
	position: relative;
	border-left: 50px solid transparent;//logo spacing
	display: flex
}

.header--logo a:visited {
	color: white
}

.header--logo a:before{
	content: '';
	position: absolute;
	top: -10px;
	background-image: url("../images/320px-logo.png");
	background-size: contain;
	left: -50px;//logo spacing
	height: 40px;
    width: 42px;
}

.breadcrumbs--link:visited {
	color: #1b1f20
}

//MENU
.mobile-nav-pmd{
	position: absolute;
    display: flex;
    top: 0;
    height: 100%;
    align-items: center;
	flex-direction: column-reverse
}

#mobile-menu_hamburger .c-hamburger span{
	left: 10px;
    right: 11px;
}
.menu-word{
	margin-bottom: -15px;
	margin-right: -2px

}
.menu-word h3{
	font-size: 1.4em

}

.nav-block{padding: 0}

.header_nav.-on_dark .header_nav--inner>.menu>.menu-item>a {
	color: white;
}

.header_nav.-on_dark .header_nav--inner>.menu>.menu-item>a:hover,
.header_nav.-on_dark .header_nav--inner>.menu>.menu-item.current-menu-item>a {
	color: rgb(255, 102, 0)
}

//LIVE CHAT
//desktop menu
.menu-item-566,
.menu-item-568 {
	background-color: $orange;
	padding: 5px;
	border-radius: 3px;
}

.menu-item-566 a:hover,
.menu-item-568 a:hover {
	color: #1b1f20
}

//mobile menu
.menu-item-565,
.menu-item-570 {
	background-color: $orange;
}

@media (min-width: 520px) {	
	.header--logo {
		right: -15px;
	}
}

@media (min-width: 768px) {
	.topbar--right{
	max-width: unset;
	}

	#pmd-header > .container{
	max-width:unset;
	}
	
	.mobile-nav-pmd{
	flex-direction: row
}
	
	
	.menu-word{
	margin-bottom: unset;

}
	
	//HEADER
	
	.header--logo {
		top: -16px;
		
	}
	
	.header--logo a {
		border-left: 90px solid transparent;//logo spacing
		font-size: 1.9em;
	}
	.header--logo a:before{
	    height: 60px;
    	width: 62px;
    	left: -80px;
		top: -16px;
	}
	
	//LIVE CHAT
	//desktop live chat buuton
	.menu-item-568 a,
	.menu-item-566 a {
		color: white!important;
		padding: 5px;
	}
	//desktop live chat buuton
	.menu-item-568 a:hover,
	.menu-item-566 a:hover {
		color: #1b1f20!important;
		padding: 5px;
	}
	//desktop menu
	.menu-item-568,
	.menu-item-566 {
		position: absolute;
		top: 0px;
		right: 0px;
		z-index: inherit;
	}
}

@media (min-width: 992px) {	
	.topbar .topbar_contacts{
		width: 50%	
	}

	.topbar_contacts--item span{
		font-size: 1.2em;
	}
	
	//HEADER
	.mobile-nav-pmd {
		display: none;//hide mobile menu
	}
	.header--logo {
		position: relative;
		right: unset;
		top: unset;
		
	}
	.topbar {
   		padding: 10px 0;
	}
	
	.header--logo a:before{
		top: 0px;
	}
	

	.header--logo a {
		font-size: 1.8em;
		text-align: left
		}
}
/* MAYBE?
@media (max-width: 992px)
.header--menu_opener {
    display: block !important;
    /* margin: -30px 0 0; */

@media (min-width: 1200px) {

	//LIVE CHAT
	//desktop menu
	.menu-item-568,
	.menu-item-566 {
		top: -72px;
		right: 280px;
	}
	
	.topbar .topbar_contacts{
		width: 40%	
	}

	
	.header--logo a:before{
		top: -16px;
	}
}